.ReAuth.cfg
crafttweaker.log
knownkeys.txt
minecraftinstance.json
OpenComputersMod-1.7.5.192-lua53-native.64.dll
options.txt
optionsof.txt
optionsshaders.txt
servers.dat
usercache.json
usernamecache.json
backups/
crash-reports/
downloads/
local/
logs/
MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump/
natives/
resourcepacks/
saves/
screenshots/
shaderpacks/
config/gtce2oc.cfg
config/AppliedEnergistics2/items.csv
config/jei/worldSettings.cfg
config/AppliedEnergistics2/CustomRecipes.cfg
config/splash.properties
config/InvTweaks.cfg
.curseclient
config/enderio/
