# Configuration file

~CONFIG_VERSION: 0.1.0

world-82510145 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=sky

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1737152846 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=quest
    B:overlayEnabled=true
}


world2212942 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=boil
    B:overlayEnabled=true
}


