# Configuration file

general {
    # Enabling this disables efficiency loss in all generators.
    B:"Disable Efficiency Loss"=true

    # Enabling this disables the use of GP in all machines and makes it impossible to overload the grid.
    B:"Disable Grid Power"=false

    # If true, debug messages will be sent to the client or server console.
    B:"Verbose?"=false

    ##########################################################################################################
    # default recipes
    #--------------------------------------------------------------------------------------------------------#
    # Disable or enable any recipes added in by Extra Utilities. By disabling an item in the list, all recipes that are added by Extra Utilities to craft that item are disabled. The same is true for enabling one. Doing so requires a restart of the game.
    ##########################################################################################################

    "default recipes" {
        B:Air=true
        B:"Analog Crafter"=true
        B:"Angel Block"=true
        B:"Angel Ring"=true
        B:"Bag Of Holding"=true
        B:"Border Stone"=true
        B:"Builders Wand"=true
        B:Chest=true
        B:"Chicken Wing Ring"=true
        B:"Chunk Loading Ward"=true
        B:Contract=true
        B:"Creative Drum"=true
        B:"Crossed Stone"=true
        B:"Cursed Lasso"=true
        B:"Dark Glass"=true
        B:"Dark Ineffable Glass"=true
        B:"Deep Dark Portal"=true
        B:"Demonically Gargantuan Drum"=true
        B:"Destruction Wand"=true
        B:"Diagonal Wood"=true
        B:"Diamond Sickle"=true
        B:"Diamond Spikes"=true
        B:"Dragon Egg Mill"=true
        B:"Ender Porcupine"=true
        B:"Ender Shard"=true
        B:"Ethereal Glass"=true
        B:"Extra Utilities 2 Manual"=true
        B:"Eye of Redstone"=true
        B:"Ferrous-Juniper Planks"=true
        B:Filter=true
        B:"Filter Fluids"=true
        B:"Fire Mill"=true
        B:"Flat Transfer Node (Fluids)"=true
        B:"Flat Transfer Node (Items)"=true
        B:"Glass Cutter"=true
        B:"Glowing Glass"=true
        B:"Golden Lasso"=true
        B:"Golden Sickle"=true
        B:"Golden Spikes"=true
        B:Hopper=true
        B:Indexer=true
        B:"Indexer Remote"=true
        B:"Ineffable Glass"=true
        B:"Iron Drum"=true
        B:"Iron Sickle"=true
        B:"Iron Spikes"=true
        B:"Klein Bottle"=true
        B:"Lava Mill"=true
        B:"Lunar Panel"=true
        B:"Magical Apple"=true
        B:"Magical Boomerang"=true
        B:"Magical Planks"=true
        B:"Magical Snow Globe"=true
        B:"Magical Wood"=true
        B:"Manual Mill"=true
        B:"Mechanical Crafter"=true
        B:"Mechanical Miner"=true
        B:"Mechanical User"=true
        B:"Moon Stone"=true
        B:"Player Chest"=true
        B:"Polished Stone"=true
        B:"Raw Ferrous-Juniper Planks"=true
        B:"Redstone Clock"=true
        B:"Redstone Gear"=true
        B:"Redstone Lantern"=true
        B:"Reinforced Large Drum"=true
        B:"Resonating Redstone Crystal"=true
        B:Resonator=true
        B:"Retrieval Node (Fluids)"=true
        B:"Retrieval Node (Items)"=true
        B:"Reverse Ethereal Glass"=true
        B:"Ring of the Flying Squid"=true
        B:"Sandy Glass"=true
        B:Scanner=true
        B:Screen=true
        B:"Slightly-Larger Chest"=true
        B:"Solar Panel"=true
        B:"Sound Muffler"=true
        B:"Stable-'Unstable Ingot'"=true
        B:"Stable-'Unstable Nugget'"=true
        B:Stick=true
        B:"Stone Drum"=true
        B:"Stone Sickle"=true
        B:"Stone Spikes"=true
        B:"Thickened Glass (Bordered)"=true
        B:"Thickened Glass (Patterned)"=true
        B:"Transfer Filter"=true
        B:"Transfer Node (Energy)"=true
        B:"Transfer Node (Fluids)"=true
        B:"Transfer Node (Items)"=true
        B:"Transfer Pipe"=true
        B:"Transfer Pipe Filter"=true
        B:"Trash Can"=true
        B:"Trash Can (Fluid)"=true
        B:"Trash Chest"=true
        B:Trowel=true
        B:Truchet=true
        B:"Unstable Ingot"=true
        B:"Upgrade Mining"=true
        B:"Upgrade Speed"=true
        B:"Upgrade Speed (Magical)"=true
        B:"Upgrade Speed (Ultimate)"=true
        B:"Upgrade Stack"=true
        B:"Water Mill"=true
        B:"Watering Can"=true
        B:"Wind Mill"=true
        B:"Wooden Sickle"=true
        B:"Wooden Spikes"=true
        B:Wrench=true
    }

    ##########################################################################################################
    # grid power multipliers
    #--------------------------------------------------------------------------------------------------------#
    # Multipliers for the GP production rates. All values must be at least 0 and less than 3.4028235E38.
    ##########################################################################################################

    "grid power multipliers" {
        D:"Creative Mill"=1.0
        D:"Dragon Egg Mill"=1.0
        D:"Fire Mill"=1.0
        D:"Lava Mill"=1.0
        D:"Lunar Panel"=1.0
        D:"Manual Mill"=1.0
        D:"Solar Panel"=1.0
        D:"Water Mill"=1.0
        D:"Wind Mill"=1.0
    }

}


